@model TechUpdate.Core.ViewModels.Contact.RespondViewModel
@{
    ViewData["Title"] = "SendMail";
    Layout = "~/Areas/Admin/Views/Shared/_DefaultAdmin.cshtml";
}
<br/>
<div class="container">
    <form asp-area="Admin" asp-controller="Home" asp-action="SendMail" method="post">
        <div class="form-group">
            <label for="exampleFormControlInput1">آدرس ایمیل:</label>
            <input type="email" asp-for="Email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" value="@ViewBag.getMail">
        </div>
     
        <div class="form-group">
            <label for="exampleFormControlTextarea1">متن پیام ...</label>
            <textarea asp-for="Message" class="form-control" id="text"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">ارسال پیام</button>
    </form>

</div>
@section Scripts
{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>
    <script>
        $(function () {
            $('#text').ckeditor();
        });
    </script>
}
