@model TechUpdate.Core.ViewModels.Users.AdminLoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ورود مدیران</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/AdminArea/css/bootstrap-rtl.min.css" rel="stylesheet" />

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Login/css/main.css">
    <link href="~/styles/vazir.css" rel="stylesheet" />
    <style>
        *:not(i) {
            font-family: "Vazir" !important;
        }
    </style>
    <!--===============================================================================================-->
</head>
<body>


    <div class="container-login100" style="background-image: url('/Login/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-70 p-b-30">
            <form class="login100-form" asp-area="Admin" asp-controller="Account" asp-action="Signin" asp-route-returnUrl="@ViewBag.returnurl" method="post" enctype="multipart/form-data">

                <span class="login100-form-title p-b-37">
                    ورود مدیران
                </span>
                <div class="text-danger" asp-validation-summary="All">

                </div>
                <div class="wrap-input100 m-b-20">
                    <input class="input100" type="text" asp-for="Username" placeholder="نام كاربري خود را وارد كنيد">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 m-b-20">
                    <input class="input100" type="password" asp-for="Password" placeholder="رمز عبور">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        ورود
                    </button>
                    <span class="text-danger">@ViewBag.Error</span>
                </div>

                <div class="text-center p-t-40 p-b-20">
                    <input class="input-checkbox100" type="checkbox" asp-for="RememberMe"> مرا بخاطر بسپار
                    <span class="focus-input100"></span>
                </div>

            </form>
        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/Login/js/main.js"></script>

</body>
</html>

