@model TechUpdate.Core.ViewModels.Users.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/User_Panel/Views/Shared/_Layout.cshtml";
}
<partial name="_SideBar" />
<div class="col-md-9 col-sm-12 col-xs-12">
    <div class="left-content">

        <section class="section-style box-shadow">
            <header><h2> تغییر رمز عبور</h2></header>
            <div class="inner">

                <form method="post" class="form-style" asp-area="User_Panel" asp-controller="DashBoard" asp-action="ChangePassword">
                    <div asp-validation-summary="All">

                    </div>
                    <div class="row">
                        @if (ViewBag.Success != null)
                        {
                            <div class="alert alert-success">
                                <p class="text-success">
                                    @ViewBag.Success
                                </p>
                            </div>
                            <script>
                                // Your delay in milliseconds
                                var delay = 3000;
                                setTimeout(function () { window.location = "/User_Panel/DashBoard/SingOut"; }, delay);
                            </script>
                        }
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <!-- input -->
                            <div class="input-layer">
                                <label><i class="fa fa-lock"></i>  رمز عبور فعلی </label>
                                <input type="password" asp-for="OldPassword">
                                <span class="field-validation-valid" asp-validation-for="OldPassword">  </span>

                            </div>
                            <!--/ input -->
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <!-- input -->
                            <div class="input-layer">
                                <label><i class="fa fa-lock"></i> رمز عبور جدید </label>
                                <input type="password" asp-for="Password">
                                <span class="field-validation-valid" asp-validation-for="Password">  </span>
                            </div>
                            <!--/ input -->
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <!-- input -->
                            <div class="input-layer">
                                <label><i class="fa fa-lock"></i> تکرار رمز عبور جدید </label>
                                <input type="password" asp-for="RePassword">
                                <span class="field-validation-valid" asp-validation-for="RePassword">  </span>

                            </div>
                            <!-- /input -->
                        </div>

                        <div class="col-md-3 col-sm-4 col-xs-12 pull-left">
                            <button type="submit" class="button-st green pull-left"> ثبت رمز عبور </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

