
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8" />
    <title>درباره_ما</title>
    <meta name="googlebot" content="index,follow" />
    <meta name="robots" content="noodp,noydir" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/styles/bootstrap-4.1.2/bootstrap.min.css" rel="stylesheet" />
    <link href="~/AdminArea/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Register/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/styles/rasool.css" rel="stylesheet" />
    <link href="~/styles/Lightbox.css" rel="stylesheet" />
    <link href="~/styles/public.css" rel="stylesheet" />
    <link href="~/styles/vazir.css" rel="stylesheet" />
    <style>
        * {
            font-family: 'Vazir';
        }
    </style>
</head>
<body>
    <script src="~/AdminArea/js/modernizr-2.6.2.js"></script>


    <div class="main-content">
        <div class="container">
            <!-- Top Content -->
            <div class="top-content">
                <!-- profile -->
                <div class="profile-layer box-shadow">
                    <div class="bg-layer"><img src="/images/white.svg" /></div>
                    <div class="img-layer"><img src="/images/Creator_img.jpg" /></div>
                    <section class="content">
                        <h1>رسول فطرتی</h1>
                        <h2>دانشجوی رشته نرم افزار کامپیوتر</h2>
                        <h2>Web Developer</h2>
                        <h2>دانشجو ، برنامه نویس</h2>
                        <h2>Email:rasoulfetrati2@gmail.com</h2>
                        <h2>-</h2>

                        <div class="socials">
                            <a href="http://t.me/rasoolf79"><i class="fa fa-telegram"></i></a>
                            <a href="https://www.instagram.com/rasoolfetrati/">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href=""><i class="fa fa-whatsapp"></i></a>
                            <a href=""><i class="fa fa-google"></i></a>
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                        </div>

                        <div class="tabs-item">

                        </div>
                    </section>
                </div>
                <!-- /profile -->
                <!-- about -->
                <section class="about-layer box-shadow">
                    <header><h2>درباره من</h2></header>
                    <p>
                        رسول فطرتی هستم دانشجوی دانشکده شهید منتظری مشهد ، مدیر و موسس
                        <a href="http://techupdate.ir" target="_blank">سایت تکنولوژی بروز</a>
                        <br />
                    </p>

                    <p>
                        پس از فارغ التحصیلی از هنرستان وارد عرصه رقابت کنکور شده ام و در رشته مورد علاقه یعنی
                        مهندسی نرم افزار در دانشکده شهید منتظری مشهد قبول شده ام
                        و خوشبختانه دوستان خوبی در آنجا پیدا کرده ام.
                    </p>
                    <p>
                        متولد 1379 و ساکن کاشمر هستم ؛ فعالیتم در حوزه برنامه نویسی و آی تی
                        را از سال 1395 شروع کردم و از همان سال بصورت حرفه ای وارد این عرصه
                        شدم ، اکنون با گذشت 4 سال و پس کسب تجربه و فنون برنامه نویسی به شدت
                        به این عرصه علاقمه مند شده ام
                    </p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </section>
                <!-- /about -->
            </div>
            <!-- /Top Content -->
            <!-- tab content -->
            <div class="tab-content-layer">
                <!-- resume tab -->
                <div class="resume-tab active">
                    <!-- about me -->
                    <section class="about-me box-shadow">
                        <header class="heading"><h2>درباره من</h2></header>
                        <div class="inner">
                            <p>
                                رسول فطرتی هستم دانشجوی دانشکده شهید منتظری مشهد ، مدیر و موسس
                                <a href="http://techupdate.ir" target="_blank">سایت تکنولوژی بروز</a>
                                <br />
                            </p>
                            <p>
                                پس از فارغ التحصیلی از هنرستان وارد عرصه رقابت کنکور شده ام و در رشته مورد علاقه یعنی
                                مهندسی نرم افزار در دانشکده شهید منتظری مشهد قبول شده ام
                                و خوشبختانه دوستان خوبی در آنجا پیدا کرده ام.
                            </p>
                            <p>
                                متولد 1379 و ساکن کاشمر هستم ؛ فعالیتم در حوزه برنامه نویسی و آی تی
                                را از سال 1395 شروع کردم و از همان سال بصورت حرفه ای وارد این عرصه
                                شدم ، اکنون با گذشت 4 سال و پس کسب تجربه و فنون برنامه نویسی به شدت
                                به این عرصه علاقمه مند شده ام
                            </p>
                        </div>
                    </section>
                    <!-- /about me -->
                    <!-- my skills -->
                    <section class="my-skills box-shadow">
                        <header class="heading"><h2>تخصص های من</h2></header>
                        <div class="inner">

                            <!-- item -->
                            <div class="item">
                                <header>
                                    <h2>#C</h2>
                                    <span>70%</span>
                                </header>
                                <div class="progress md-progress">
                                    <div class="progress-bar progress-bar-striped"
                                         role="progressbar"
                                         style="width: 70%"
                                         aria-valuenow="70"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="item">
                                <header>
                                    <h2>Java</h2>
                                    <span>60%</span>
                                </header>
                                <div class="progress md-progress">
                                    <div class="progress-bar progress-bar-striped"
                                         role="progressbar"
                                         style="width: 60%"
                                         aria-valuenow="60"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- item -->
                            <!-- item -->
                            <div class="item">
                                <header>
                                    <h2>Asp.Net MVC</h2>
                                    <span>40%</span>
                                </header>
                                <div class="progress md-progress">
                                    <div class="progress-bar progress-bar-striped"
                                         role="progressbar"
                                         style="width: 40%"
                                         aria-valuenow="40"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- item -->
                            <!-- item -->
                            <div class="item">
                                <header>
                                    <h2>Sql Server 2017</h2>
                                    <span>70%</span>
                                </header>
                                <div class="progress md-progress">
                                    <div class="progress-bar progress-bar-striped"
                                         role="progressbar"
                                         style="width: 75%"
                                         aria-valuenow="70"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- item -->
                            <!-- item -->
                            <div class="item">
                                <header>
                                    <h2>JavaScript</h2>
                                    <span>40%</span>
                                </header>
                                <div class="progress md-progress">
                                    <div class="progress-bar progress-bar-striped"
                                         role="progressbar"
                                         style="width: 40%"
                                         aria-valuenow="40"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- item -->
                            <!-- item -->
                            <div class="item">
                                <header>
                                    <h2>Html 5</h2>
                                    <span>90%</span>
                                </header>
                                <div class="progress md-progress">
                                    <div class="progress-bar progress-bar-striped"
                                         role="progressbar"
                                         style="width: 90%"
                                         aria-valuenow="90"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- item -->
                            <!-- item -->
                            <div class="item">
                                <header>
                                    <h2>Css3</h2>
                                    <span>90%</span>
                                </header>
                                <div class="progress md-progress">
                                    <div class="progress-bar progress-bar-striped"
                                         role="progressbar"
                                         style="width: 90%"
                                         aria-valuenow="90"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="item">
                                <header>
                                    <h2>C# Win Forms</h2>
                                    <span>70%</span>
                                </header>
                                <div class="progress md-progress">
                                    <div class="progress-bar progress-bar-striped"
                                         role="progressbar"
                                         style="width: 70%"
                                         aria-valuenow="70"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>

                            <!-- item -->
                            <div class="item">
                                <header>
                                    <h2>Android Studio</h2>
                                    <span>40%</span>
                                </header>
                                <div class="progress md-progress">
                                    <div class="progress-bar progress-bar-striped"
                                         role="progressbar"
                                         style="width: 20%"
                                         aria-valuenow="20"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!-- item -->
                        </div>
                    </section>

                </div>
            </div>

        </div>
        <!-- /tab content -->

        <footer>
            <br />
            <p>
                تمامی حقوق مادی و معنوی این سایت متعلق به
                <a href="/درباره_ما"> سازنده آن </a> می باشد
            </p>
        </footer>
    </div>
    <script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
    <script src="~/js/public.js"></script>
    <script src="~/js/lightbox.min.js"></script>
    <div id="lightboxOverlay" class="lightboxOverlay" style="display: none;"></div>
    <div id="lightbox" class="lightbox" style="display: none;"><div class="lb-outerContainer"><div class="lb-container"><img class="lb-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="><div class="lb-nav"><a class="lb-prev" href=""></a><a class="lb-next" href=""></a></div><div class="lb-loader"><a class="lb-cancel"></a></div></div></div><div class="lb-dataContainer"><div class="lb-data"><div class="lb-details"><span class="lb-caption"></span><span class="lb-number"></span></div><div class="lb-closeContainer"><a class="lb-close"></a></div></div></div></div>
</body>
</html>

